<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!-- V2.x -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <div id='app'>
    <input type="text" v-model='message'>
    <h1>{{ message }}</h1>
  </div>  

  <script>
    // Vueの宣言(Vueインスタンス)
    new Vue({
      // このビューはどこのタグに対して対応しているかを示すもの
      el: '#app',
      data: {
        message: 'こんにちは',
      }
    })
  </script> -->

  <!-- V3.x -->
  <script src="https://unpkg.com/vue@next"></script>
  <div id='app'>
    <input type="text" v-model='message'>
    <h1>{{ message }}</h1>
  </div>  

  <script>
    // Vueの宣言(Vueインスタンス)
    Vue.createApp({
      data() {
        return {
          message: 'こんにちは',
        }
      }
    }).mount('#app')
  </script>
</body>
</html>
